In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# CLEAN_DATA_FOLDER = "clean_data"
STAGING_DATA_FOLDER = "staging_data" # updated

In [3]:
# q_pairs = pd.read_csv(os.path.join(CLEAN_DATA_FOLDER, "question_pairs.csv"), index_col="id")
q_pairs = pd.read_csv(os.path.join(STAGING_DATA_FOLDER, "question_pairs.csv")) # updated

In [4]:
q_pairs.head()

   id  qid1  qid2  is_duplicate
0   0     1     2             0
1   1     3     4             0
2   2     5     6             0
3   3     7     8             0
4   4     9    10             0

In [5]:
train, test = train_test_split(q_pairs, test_size=0.2, random_state=42)

In [6]:
validation, test = train_test_split(test, test_size=0.5, random_state=42)

In [7]:
train.shape

(323280, 4)

In [8]:
test.shape

(40411, 4)

In [9]:
validation.shape

(40410, 4)

In [10]:
# train.to_csv(os.path.join(CLEAN_DATA_FOLDER, "train.csv"), index=False)
# validation.to_csv(os.path.join(CLEAN_DATA_FOLDER, "validation.csv"), index=False)
# test.to_csv(os.path.join(CLEAN_DATA_FOLDER, "test.csv"), index=False)
train.to_csv(os.path.join(STAGING_DATA_FOLDER, "train.csv"), index=False) # updated
validation.to_csv(os.path.join(STAGING_DATA_FOLDER, "validation.csv"), index=False) # updated
test.to_csv(os.path.join(STAGING_DATA_FOLDER, "test.csv"), index=False)